h3 {
  margin: 0 0 10px 0;
  color: #039BE5;
  text-transform: uppercase;
}

p {
  margin: 0;
}

svg {
  vertical-align: middle;
  padding-bottom: 3px;
  color: #2AC670;
}

.event {
  display: flex;
  border-radius: 3px;
  border: 1px solid rgba(59,33,81,0.1);
  box-shadow: 0 5px 4px -4px rgba(59,33,81,0.21);
  margin: 15px 0;
}

.event-picture {
  background-image: url(../../images/thumbnail.jpg);  
  background-size: cover;
  position: relative;
}

.event-image {
  max-width: 100%;
}

.event-header {
  display: flex;
}

.event-info {
  flex-grow: 1;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ECEFF1;
}

.event-info p, 
.guests {
  color: #8AA1AC;
}

.date-sticker {
  text-align: center;
  width: 75px;
  background-color: #F06292;
  color: #FFF;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.day {
  font-size: 25px;
}

.event-message {
  padding: 5% 0 7%;
}

.rsvp {
  font-weight: bold;
}

.attendance {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}

/** LIST LAYOUT **/

.event.list {
  flex-direction: row;
}

.event.list .event-picture {
  width: 30%;
}

.event.list .event-image {
  border-radius: 3px 0 0 3px;
}

.event.list .event-info-container {
  flex-grow: 1;
  padding: 0 0 2% 5%;
}

.date-sticker.grid.list {
  display: none;
}

/** GRID LAYOUT **/

.event.grid {
  flex-direction: column;
  width: 30%;
  flex-basis: 30%;
}

.event.grid .event-picture {
  height: 175px;
}

.event.grid .event-image {
  border-radius: 3px;
}

.date-sticker.grid.grid {
  float: right;
  height: 77px;
}

.date-sticker.list.grid {
  display: none;
}

.event.grid .event-info-container {
  padding: 3%;
}


